<h2>Edit Post</h2>

<%= form_for @post do |f| %>

<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :content %>
<%= f.text_field :content %>

<%= f.label :photo_url %>
<%= f.text_field :photo_url %>

<%= f.submit %>
<% end %>

<%= form_for @post, method: :delete do |f| %>
<%= f.submit "Delete!", class: "delete" %>
<% end %>
